<template name="popupWindows_changeAccountPassword">
    <div class="popup-windows">
        <form action="#">
            <h1>{{i18n "mist.popupWindows.changeMasterPassword.title"}}</h1>
            <div class="field-container">
            <input type="{{passwordInputType}}" placeholder="{{i18n 'mist.popupWindows.changeMasterPassword.enterOldPassword'}}" class="oldPassword">
            <input type="{{passwordInputType}}" placeholder="{{i18n 'mist.popupWindows.changeMasterPassword.enterNewPassword'}}" class="newPassword">
            <input type="{{passwordInputType}}" placeholder="{{i18n 'mist.popupWindows.changeMasterPassword.repeatNewPassword'}}" class="repeatPassword">
            </div>
            <div class="show-password-container">
                <input type="checkbox" name="elements_input_bool" class="show-password abi-input">
                <label for="show-password">{{i18n "mist.popupWindows.onboarding.buttons.showPassword"}}</label>
            </div>
            <div class="dapp-modal-buttons">
                <button class="cancel" type="button">{{i18n "buttons.cancel"}}</button>
                <button class="ok dapp-primary-button" type="submit">{{i18n "buttons.ok"}}</button>
            </div>
        </form>
    </div>
</template>
