<template name="popupWindows_clientUpdateAvailable">
    <div class="popup-windows update-available row">
        <div class="col col-4">
            <img class="left-overlay {{mode}}" src="{{appIconPath}}" />
        </div>
        <div class="col col-8 text">
            {{#with Session "data"}}
                <h3>
                    {{i18n "mist.popupWindows.clientUpdateAvailable.newVersionAvailable" client=name version=version }}
                </h3>
                <p style="-webkit-user-select: all; margin: 35px 0;">
                    <ul class="no-bullets">
                        <li><strong>Client</strong>: {{name}}</li>
                        <li><strong>Version</strong>: {{version}}</li>
                        <li><strong>Checksum</strong>: {{checksum}}</li>
                        <li><strong>Download URL</strong>: <a href="{{downloadUrl}}" target="_blank">{{downloadUrl}}</a></li>
                    </ul>
                </p>
                <button class="yes border-button" style="margin-right: 20px;">
                    {{#if restart}}
                        {{i18n "mist.popupWindows.clientUpdateAvailable.downloadAndRestart"}}
                    {{else}}
                        {{i18n "mist.popupWindows.clientUpdateAvailable.download"}}
                    {{/if}}
                </button>
                <button class="no border-button">
                    {{i18n "mist.popupWindows.clientUpdateAvailable.skipUpdate"}}
                </button>
            {{/with}}
        </div>
    </div>
</template>
