<template name="popupWindows_connectAccount">
	<div class="popup-windows connect-account active-{{TemplateVar.get 'currentActive'}}">
		<form action="#">
			<div class="account-dapp-user-container">
				<span class="account-address">0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>

				<div class="account-dapp-user">
					<span class="user-icon is-empty"></span>

					{{#if dapp.icon}}
							{{> elements_img src=dapp.icon class="app-icon" }}
					{{else}}
						<span class="app-icon is-empty"></span>
					{{/if}}
				</div>
				
				<span class="dapp-url">{{dappFriendlyURL}}</span>
			</div>

			<p>
				<strong>You are sharing your identity with <em>{{dapp.name}}</em>.</strong>
			</p>

			<p>
				Accepting this will provide them proof that you own the <strong>XXXXX (<a href="#">switch</a>)</strong> account at this time, and allow them to see any public information, including balances, connected to it.
			</p>

			<div>
				<input type="checkbox" id="pin-to-sidebar" checked> 
				<label for="pin-to-sidebar">Pin app to the sidebar</label>
			</div>

			<div class="dapp-modal-buttons">
				<button class="cancel" type="button">{{i18n "buttons.stayAnonymous"}}</button>
				<button class="ok dapp-primary-button" type="submit">{{i18n "buttons.authorize"}}</button>
			</div>
		</form>
	</div>
</template>