<template name="popupWindows_forkChoice">
    <div class="fork-choice main-content">
        <div class="col col-12">
            <h1> {{i18n "mist.popupWindows.daoFork.title"}} </h1>
            <p> {{{i18n "mist.popupWindows.daoFork.overview"}}} </p>
            <p>  {{{i18n "mist.popupWindows.daoFork.choice"}}} </p>
            <p> <a href="https://www.ethereum.org/agreement" target="_blank">{{i18n "mist.popupWindows.daoFork.disclaimer"}} </a>   </p>
            <h3> {{i18n "mist.popupWindows.daoFork.question"}}   </h3>
        </div>        
        
        {{#if randomizer}}
        <div class="row clear">
            <div class="col col-6 fork-no">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.daoFork.no"}}} </button>
            </div>
            <div class="col col-6 fork-yes">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.daoFork.yes"}}} </button>
            </div>
        </div> 
        {{else}}
        <div class="row clear">
            <div class="col col-6 fork-yes">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.daoFork.yes"}}} </button>
            </div>
            <div class="col col-6 fork-no">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.daoFork.no"}}} </button>
            </div>
        </div> 
        {{/if}} 

    </div>
</template>

