<template name="popupWindows_forkChoice">
    <div class="fork-choice main-content">
        <div class="col col-12">
            <h1> {{i18n "mist.popupWindows.forkChoice.title"}} </h1>
            <p> {{i18n "mist.popupWindows.forkChoice.overview"}} </p>
            <p>  {{{i18n "mist.popupWindows.forkChoice.choice"}}} </p>
            <p> <a href="" target="_blank">{{i18n "mist.popupWindows.forkChoice.learnMore"}} </a>   </p>
            <h3> {{i18n "mist.popupWindows.forkChoice.question"}}   </h3>
        </div>        
        
        {{#if randomizer}}
        <div class="row clear">
            <div class="col col-6 fork-no">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.forkChoice.no"}}} </button>
            </div>
            <div class="col col-6 fork-yes">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.forkChoice.yes"}}} </button>
            </div>
            <div class="col col-12 fork-whatever">
                <a href=""> {{{i18n "mist.popupWindows.forkChoice.whatever"}}} </a>
            </div>
        </div> 
        {{else}}
        <div class="row clear">
            <div class="col col-6 fork-no">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.forkChoice.yes"}}} </button>
            </div>
            <div class="col col-6 fork-yes">
                <button class="dapp-block-button"> {{{i18n "mist.popupWindows.forkChoice.no"}}} </button>
            </div>
            <div class="col col-12 fork-whatever">
                <a href=""> {{{i18n "mist.popupWindows.forkChoice.whatever"}}} </a>
            </div>
        </div> 
        {{/if}} 

    </div>
</template>

