<template name="popupWindows_onboardingScreen">
    <div class="onboarding-screen {{mode}} active-{{TemplateVar.get 'currentActive'}} outgoing-{{TemplateVar.get 'lastActive'}} ">
        
        <div class="main-content">   
            
            <div class="onboarding-section onboarding-start">
                <p class="description">Ethereum is a decentralized computing network for building blockchain applications that can transfer property and value on a peer to peer network</p>

                <p> 
                    <button class="goto-password"> Play with Ethereum</button> 
                    Test the technology freely in a sandboxed testnet. 
                </p>

                <p> 
                    <button class="goto-drop-file"> Go to the real thing </button> 
                    You’ll need to have access to either Ether or Bitcoin in order to create and execute contracts. 
                </p>
            </div>

            <div class="onboarding-section onboarding-drop-file row">
                <h1>Do you have a wallet file?</h1>
                
                <div class="col col-6 col-left">
                    <p>If you participated on the 2014 Ethereum Presale, you must have received a .json file. 
                    </p>

                    <p>If you already created an ethereum node somewhere else, you can also drop the backup here.
                    </p>
                </div>

                <div class="col col-6 droppable">Drop Files here</div>
                
                <div class="col col-12 footer-buttons">
                    <button class="goto-start"> Back </button> 
                
                    <button class="goto-password right-align"> Skip this step </button> 
                </div>
                
            </div>

            <div class="onboarding-section onboarding-password row">
                <h1>Protect your account</h1>
                
                <div class="col col-6 col-left">
                    <p>
                    Create an account for your new account. Choose a password strong as if it was holding the keys to your house.
                    </p>
                </div>

                <div class="col col-6">
                    <input type="password" placeholder="{{i18n 'mist.popupWindows.requestAccount.enterPassword'}}" class="password">
                    <input type="password" placeholder="{{i18n 'mist.popupWindows.requestAccount.repeatPassword'}}" class='password-repeat'>
                </div>
                
                <div class="col col-12 footer-buttons">
                    <button class="goto-drop-file"> Back </button>                 
                    <button class="goto-bitcoin right-align"> Skip (dev only) </button>                 
                </div>
                
            </div>

            <div class="onboarding-section onboarding-bitcoin row">
                <h1>Load it up</h1>
                
                <div class="col col-6 col-left">
                    <p>
                    The ethereum network works based on the exchange of tokens called “Ether” so you’ll need to a small amount of it to do anything. If you already own Bitcoin or any other cryptocurrency you can easily convert it to and from ether using shapeshift.
                    </p>

                    <p>
                    We recommend loading somewhere between <strong>0.25 to 1 ether</strong>.
                    </p>
                </div>

                <div class="col col-6 col-deposit">
                    {{> dapp_identicon identity='0xdbf03b407c01e7cd3cbea99509d93f8dddc8c6fb'}}
                    <input type="text" value="Etherbase" class="name">
                    <h6>0xdbf03b407c01e7cd3cbea99509d93f8dddc8c6fb</h6>
                    <button class="dapp-block-button dapp-small">Deposit Bitcoin</button>
                </div>
                
                <div class="col col-12 footer-buttons">
                    <button class="goto-password"> Back </button>                 
                    <button class="goto- right-align"> Skip this step </button>                 
                </div>
                
            </div>

            <div class="onboarding-section onboarding-tutorial-1 row">
                <h1>Learn it</h1>
                
                <div class="col col-6 col-left">
                    <p>
                    We still have to process a few blocks so your wallet is up to date. You can catch up on some reading on the things you can build:
                    </p>
                    
                    <p>
                    Make your own cryptocurrency
                    </p>
                    
                    <p>
                    Make a crypto currency with a fixed market supply, create tokens representing real world assets or even a puzzle based coin
                    </p>

                    <a href="https://blog.ethereum.org/2015/12/03/how-to-build-your-own-cryptocurrency/" class="button" target="_blank"></a>
                </div>

                <div class="col col-6">
                    
                </div>
                
                <div class="col col-12 footer-buttons">
                    <button class="goto-password"> Back </button>                 
                    <button class="goto- right-align"> Skip this step </button>                 
                </div>
                
            </div>

        </div>
        <footer>
            <progress value="25" max="100"></progress>
            <div class="status"> Downloading blocks </div>
            <div class="blocks"> Block 234,567</div>
            <button class="launch-app"> Launch App </button>
        </footer>     

    </div>
</template>