<template name="popupWindows_onboardingScreen">
    <div class="onboarding-screen {{mode}} active-{{TemplateVar.get 'currentActive'}} outgoing-{{TemplateVar.get 'lastActive'}} ">
        
        <div class="main-content">    
            <div class="onboarding-section onboarding-start">
                <p class="description">{{i18n "mist.popupWindows.onboarding.description"}}</p>
                <p> 
                    <button class="goto-password"> {{i18n "mist.popupWindows.onboarding.goToTestnet"}} </button> 
                    {{i18n "mist.popupWindows.onboarding.goToTestnetDescription"}}
                </p>
                <p> 
                    <button class="goto-drop-file"> {{i18n "mist.popupWindows.onboarding.gotoMainnet"}} </button> 
                    {{i18n "mist.popupWindows.onboarding.gotoMainnetDescription"}}
                </p>
            </div>

            <div class="onboarding-section onboarding-drop-file row">
                <h1>{{i18n "mist.popupWindows.onboarding.doYouHaveAWalletFile"}}</h1>
                <div class="col col-6 col-left">
                    {{{i18n "mist.popupWindows.onboarding.walletFileDescription"}}}
                </div>
                <div class="col col-6 droppable"> {{i18n "mist.popupWindows.onboarding.dropFilesHere"}}</div>
                
                <div class="col col-12 footer-buttons">
                    <button class="goto-start"> {{i18n "buttons.back"}} </button> 
                    <button class="goto-password right-align"> {{i18n "mist.popupWindows.onboarding.skip"}} </button> 
                </div>
                
            </div>

            <div class="onboarding-section onboarding-password row">
                <h1> {{i18n "mist.popupWindows.onboarding.protectTitle"}} </h1>
                <div class="col col-6 col-left">
                    <p> {{i18n "mist.popupWindows.onboarding.protectDescription"}} </p>
                </div>
                <div class="col col-6">
                    <input type="password" placeholder="{{i18n 'mist.popupWindows.requestAccount.enterPassword'}}" class="password">
                    <input type="password" placeholder="{{i18n 'mist.popupWindows.requestAccount.repeatPassword'}}" class='password-repeat'>
                </div>
                <div class="col col-12 footer-buttons">
                    <button class="goto-start">  {{i18n "buttons.back"}}  </button>                 
                    <button class="goto-bitcoin right-align"> {{i18n "mist.popupWindows.onboarding.skip"}} </button>
                </div>
            </div>

            <div class="onboarding-section onboarding-bitcoin row">
                <h1>{{i18n "mist.popupWindows.onboarding.loadItTitle"}} </h1>
                <div class="col col-6 col-left"> {{{i18n "mist.popupWindows.onboarding.loadItDescription"}}} </div>
                <div class="col col-6 col-deposit">
                    {{> dapp_identicon identity='0xdbf03b407c01e7cd3cbea99509d93f8dddc8c6fb'}}
                    <div class="you"> {{i18n "mist.popupWindows.onboarding.you"}}  </div>
                    <input type="text" value="Etherbase" class="name">
                    <h6> 0xdbf03b407c01e7cd3cbea99509d93f8dddc8c6fb </h6>
                    <a href="https://shapeshift.io/shifty.html?destination=0xdbf03b407c01e7cd3cbea99509d93f8dddc8c6fb&amp;output=ETH&amp;apiKey=ef8312d8c9b9dda64fb852e8683eac6c33123f8743ff11383fb3bab29a364c01c27343fced4e628db8d5d66d763565763f8699c0fc903ec23db31cb908a944c8&amp;amount=1" class="button dapp-block-button dapp-small shapeshift" target="_popup"> {{i18n "mist.popupWindows.onboarding.depositBitcoin"}}  </a>
                </div>
                <div class="col col-12 footer-buttons">
                    <button class="goto-password"> {{i18n "buttons.back"}}  </button>                 
                    <button class="goto-tutorial-1 right-align">  {{i18n "mist.popupWindows.onboarding.skip"}} </button>                 
                </div>
            </div>

            <div class="onboarding-section onboarding-tutorial-1 row">
                <h1> {{i18n "mist.popupWindows.onboarding.learnIt"}} </h1>
                <div class="col col-6 col-left"> {{{i18n "mist.popupWindows.onboarding.tutorial1Description"}}} </div>
                <div class="col col-6 tutorial-token"></div>
                <div class="col col-12 footer-buttons">
                    <button class="goto-bitcoin"> {{i18n "buttons.back"}} </button>                 
                    <button class="goto-tutorial-2 right-align">  {{i18n "mist.popupWindows.onboarding.skip"}} </button>                 
                </div>
            </div>

            <div class="onboarding-section onboarding-tutorial-2 row">
                <h1> {{i18n "mist.popupWindows.onboarding.learnIt"}} </h1>
                <div class="col col-6 col-left"> {{{i18n "mist.popupWindows.onboarding.tutorial1Description"}}} </div>
                <div class="col col-6 tutorial-crowdsale"></div>  
                <div class="col col-12 footer-buttons">
                    <button class="goto-tutorial-1"> {{i18n "buttons.back"}} </button>                 
                    <button class="goto-tutorial-3 right-align">  {{i18n "mist.popupWindows.onboarding.skip"}} </button>                 
                </div>
            </div>

            <div class="onboarding-section onboarding-tutorial-3 row">
                <h1> {{i18n "mist.popupWindows.onboarding.learnIt"}} </h1>
                <div class="col col-6 col-left"> {{{i18n "mist.popupWindows.onboarding.tutorial1Description"}}} </div>
                <div class="col col-6 tutorial-dao"></div>
                <div class="col col-12 footer-buttons">
                    <button class="goto-tutorial-2"> {{i18n "buttons.back"}} </button>                 
                </div>
            </div>

        </div>
        <footer>
            <progress value="25" max="100"></progress>
            {{#if TemplateVar.get 'readyToLaunch'}}
            <button class="launch-app"> Launch App </button>
            {{else}}            
            <div class="status"> Downloading blocks </div>
            <div class="blocks"> Block 234,567</div>
            {{/if}}
        </footer>     
    </div>
</template>