<template name="popupWindows_splashScreen">
    <div class="splash-screen {{mode}} {{TemplateVar.get 'smallClass'}}">
        {{#if TemplateVar.get "showNetworkIndicator"}}
            {{> elements_networkIndicator}}
        {{/if}}

        {{#if TemplateVar.get "showStartAppButton"}}
            <button class="start-app">{{{TemplateVar.get "startAppButtonText"}}}</button>
        {{else}}
            {{#if TemplateVar.get "showRetryConnectionButton"}}
                <button class="retry-connection">{{{TemplateVar.get "retryConnectionButtonText"}}}</button>
            {{/if}}
        {{/if}}

        <img id="image" src="{{appIconPath}}">
        <h1>
            {{{TemplateVar.get "text"}}}
            
            {{#if TemplateVar.get "syncStatusMessage"}}
                <br><small> {{{syncStatus}}} </small>
            {{/if}}

            {{#if TemplateVar.get "logText"}}
                <br><small style="font-size: 0.7em">{{TemplateVar.get "logText"}}</small>
            {{/if}}
        </h1>

        {{#if TemplateVar.get "showProgressBar"}}
            <progress class="{{mode}}" max="100" value="{{TemplateVar.get 'progress'}}"></progress>
            {{#if TemplateVar.get "showStateProgressBar"}}
                <progress class="state {{mode}}" max="100" value="{{TemplateVar.get 'stateProgress'}}"></progress>
            {{/if}}
        {{/if}}
    </div>
</template>
