<template name="popupWindows_splashScreen">
    <div class="splash-screen {{mode}} {{TemplateVar.get 'smallClass'}}">
        <button class="close">×</button>
        {{#if TemplateVar.get "showStartAppButton"}}
            <button class="start-app">{{{TemplateVar.get "startAppButtonText"}}}</button>
        {{/if}}

        <img id="image" src="{{iconPath}}">
        <h1>
            {{{TemplateVar.get "text"}}}
            {{#if TemplateVar.get "logText"}}
                <br><small style="font-size: 0.7em">{{TemplateVar.get "logText"}}</small>
            {{/if}}
        </h1>

        {{#if TemplateVar.get "showProgressBar"}}
            <progress class="{{mode}}" max="100" value="{{TemplateVar.get 'progress'}}"></progress>
        {{/if}}
    </div>
</template>