<template name="views_tab">
    <div class="tab-view {{isVisible}} {{#if appBar}}app-bar-{{appBar}}{{/if}}">
        {{#if $eq _id "browser"}}
            <webview src="{{url}}" useragent="{{useragent}}" data-id="{{_id}}" preload="file://{{preload_dirname}}/browser.js" autosize="on"></webview> 
        {{else}}
            {{#if $eq _id "tests"}}
                <webview src="{{url}}" useragent="{{useragent}}" data-id="{{_id}}" preload="file://{{preload_dirname}}/tests.js" autosize="on"></webview> 
            {{else}}
                <webview src="{{url}}" useragent="{{useragent}}" data-id="{{_id}}" preload="file://{{preload_dirname}}/dapps.js" autosize="on"></webview> 
            {{/if}}
            <!-- preload="./test.js" allowtransparency="on" -->
        {{/if}}
    </div>
</template>