<template name="views_webview">
    <div class="webview {{isVisible}} {{#if appBar}}app-bar-{{appBar}}{{/if}}">
        {{#if $eq _id "tests"}}
            <webview src="file://{{dirname}}/tests/mocha-in-browser/runner.html" useragent="{{useragent}}" data-id="{{_id}}" preload="{{preloaderFile}}" autosize="on"></webview>
        {{else}}
            <webview src="{{checkedUrl}}" useragent="{{useragent}}" data-id="{{_id}}" preload="{{preloaderFile}}" autosize="on"></webview>
        {{/if}}
    </div>
</template>
