body {
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', verdana, arial;
    overflow: hidden;

    background-size: 105%;
    background-position: 50% 50%;
    -webkit-app-region: drag;
}
h1, small {
    cursor: default;
}

button {
    -webkit-app-region: no-drag;
    z-index: 3;
    position: absolute;
    color: #fff;
    background: none;
    border: 0;
    outline: 0;
}
button:active {
    transform: scale(0.95);
}

/* Close button */
button.close {
    top: 0;
    right: 3px;
    font-size: 20px;
    color: rgba(255,255,255, 0.3);
}
button.close:hover {
    color: rgba(255,255,255, 0.8);
}
/* start app button */
button.start-app {
    top: 10px;
    left: 10px;
    background-color: rgba(255,255,255, 0.3);
    opacity: 0.8;
    border-radius: 2px;
    text-align: left;  
}
button.start-app:hover {
    background-color: rgba(255,255,255, 0.5);
}

img {
    margin-top: 7px;
    width: 128px;
}
.small img {
    width: 80px;
}
img.shadow {
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 50%;
}
h1 {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 200;
    text-shadow: 0 1px 5px rgba(0,0,0,0.6);
    -webkit-user-select: none;
}
small {
    opacity: 0.6;
    line-height: 1.5em;
    cursor: text;
    -webkit-app-region: no-drag;
    -webkit-user-select: initial;
}

/* PROGRESSBAR */
progress {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 20px;
}
progress[value]::-webkit-progress-bar {
    background-color: rgba(255,255,255, 0.2);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress.wallet::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #9D3F21, #CC9C71);
}
progress.mist::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #3185CC, #ADA1E2);
}
progress::-webkit-progress-value {
    opacity: 0.8;
    border-radius: 2px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

