body {
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', verdana, arial;
    overflow: hidden;

    background-size: 100%;
    background-position: 50% 50%;
}
body.clickable {
    -webkit-app-region: no-drag !important;
}
img {
    margin-top: 7px;
    width: 128px;
}
img.small {
    width: 64px;
}
img.shadow {
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 50%;
}
h1 {
    font-size: 18px;
    font-weight: 200;
    text-shadow: 0 1px 5px rgba(0,0,0,0.6);
    -webkit-user-select: none;
}
