<template name="elements_networkIndicator">
    <div class="network-indicator">
        {{#if TemplateVar.get "unknown"}}
            <span class="unknown indicator" title="{{i18n 'mist.nodeInfo.unknownnetExplain'}}">{{i18n 'mist.nodeInfo.checkingWhichNetwork'}}</span>
        {{/if}}

        {{#if TemplateVar.get "mainnet"}}
            <span class="mainnet indicator" title="{{i18n 'mist.nodeInfo.mainnetExplain'}}">{{i18n 'mist.nodeInfo.mainNetwork'}}</span>
        {{/if}}

        {{#if TemplateVar.get "testnet"}}
            <span class="testnet indicator danger" title="{{i18n 'mist.nodeInfo.testnetExplain'}}">{{i18n 'mist.nodeInfo.testNetwork'}}</span>
        {{/if}}

        {{#if TemplateVar.get "privatenet"}}
            <span class="privatenet indicator danger" title="{{i18n 'mist.nodeInfo.privatenetExplain'}}">{{i18n 'mist.nodeInfo.privateNetwork'}}</span>
        {{/if}}
    </div>
</template>