<template name="elements_nodeInfo">
    <div class="node-info">
        {{#if $eq (TemplateVar.get "network") "test"}}
            <span class="orange" style="font-weight: 400;">TEST-NET</span>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {{/if}}
        {{#if $eq (TemplateVar.get "network") "private"}}
            <span class="orange" style="font-weight: 400;">PRIVATE-NET</span>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {{/if}}

        {{#with TemplateVar.get "syncing"}}
            <span class="text">
                <i class="icon-feed"></i> {{TemplateVar.get "peerCount"}} {{i18n 'mist.nodeInfo.peers'}}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <i class="icon-layers"></i> {{{i18n "mist.nodeInfo.nodeSyncing" blockDiff=blockDiff}}}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <i class="icon-cloud-download"></i> {{progress}}%
            </span>
            <progress max="100" value="{{progress}}"></progress>
        {{else}}
            <i class="icon-feed"></i> {{TemplateVar.get "peerCount"}} {{i18n 'mist.nodeInfo.peers'}}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <i class="icon-layers"></i> {{formattedBlockNumber}} <i class="icon-clock" style="margin-left: 10px;"></i> {{{timeSinceBlock}}}
        {{/with}}
    </div>
</template>