<template name="layout_browserBar">
    <div class="browser-area  {{#if TemplateVar.getFrom currentWebView 'loading'}}loading{{/if}}">
        <button title="go back" class="back icon icon-arrow-left"></button>
        <button title="refresh page" class="reload icon icon-refresh"></button>

        {{#with dapp}}
            <div class="app-bar {{TemplateVar.get "browserBarTab"}}">
                <button class="app-title">
                    {{#if icon}}
                        {{> elements_img src=icon class="app-icon" }}
                    {{/if}}
                    {{name}}
                </button>

                <form class="url-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">
                    <input class="url url-input" type="text" value="{{url}}">
                    <div class="url url-breadcrumb" >{{breadcrumb}}</div>
                </form>
                <button class="keys"> <figure class="icon-key"></figure> {{i18n "mist.browserBar.buttons.keysNeeded"}}</button>
                
                <div class="app-info">
                    App information goes here
                </div>

                <div class="key-info">
                    <div class="message">
                        <h3> <em>Wallet</em> wants to know one or more of your public accounts</h3>
                        <p>Sharing a identity would allow this dapp have access to all your public information, including public balance, but <strong>will not allow </strong>  the dapp to publish anything, move funds or send transactions under your name.
                        </p>
                        <p>You can select more than one account.</p>             
                    </div>
                    <ul class="dapp-account-list">

                        <li>
                            <button class="selected">
                                {{> dapp_identicon identity='address23' class="dapp-small"}}
                                <h3>Create a random account for this app</h3>
                                <figure class="icon-check"></figure>
                            </button>         
                        </li>
                        {{#each accounts}}
                            <li>
                                <button>
                                    {{> dapp_identicon identity=address class="dapp-small"}}
                                    <h3>{{name}}</h3>
                                    <span>{{address}}</span>
                                </button>        
                            </li>
                        {{/each}}

                    </ul>

                    <div class="bar-actions">
                        <button class="cancel">Remain Anonymous</button>
                        <button class="confirm">Continue with 1 account</button>
                    </div>


                </div>
            </div>
        {{/with}}
        
        {{#if isBrowser}}
            <button title="Add as app" class="add-tab icon icon-plus"></button>
        {{else}}
            <button title="Remove app" class="remove-tab icon icon-close"></button>
        {{/if}}

    </div>
</template>