<template name="layout_browserBar_accounts">
    <div class="message">
        <h3> <em>Wallet</em> wants to know one or more of your public accounts</h3>
        <p>Sharing an identity would allow this dapp have access to all your public information, including public balance, but <strong>will not allow </strong>  the dapp to publish anything, move funds or send transactions under your name.
        </p>
        <p>You can select more than one account.</p>             
    </div>
    <ul class="dapp-account-list">

        <li>
            <button class="create-account">
                {{> dapp_identicon identity='address23' class="dapp-small"}}
                <h3>Create new account</h3>
            </button>         
        </li>
        {{#each accounts}}
            <li>
                <button class="{{selected}}">
                    {{> dapp_identicon identity=address class="dapp-small"}}
                    <h3>{{name}}</h3>
                    <span>{{address}}</span>
                </button>        
            </li>
        {{/each}}

    </ul>

    <div class="bar-actions">
        <button class="cancel">Remain Anonymous</button>
        <button class="confirm">Continue with {{accountNumber}} account</button>
    </div>
</template>