<template name="layout_sidebar">
    <aside class="sidebar">
        <nav>
            <ul>
                <li class="{{isVisible}}">
                    <button>
                        Browse
                    </button>
                    <ul>
                        {{#each history}}
                            <li>
                                <button>
                                    {{title}}
                                </button>
                            </li>
                        {{/each}}
                    </ul>
                </li>
                {{#each tabs}}
                    <li class="{{isVisible}}">
                        <button>
                            <img src="icons/wallet-icon@2x.png">
                            {{name}}
                        </button>

                        <ul>
                            <li> 
                                <button> link 01 </button>
                            </li>
                            <li> 
                                <button> link 02</button>
                            </li>
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </nav>
    </aside>
</template>