// Layout

.browse-view, .tab-view {
    transition:transform 0.6s cubic-bezier(0.12, 1.1, 0.59, 1.005);

    &.hidden {
        transform: translate3d(0, 100%,  0);
        transition: transform 0.8s cubic-bezier(1,.01,1,.2), visibility 4.4s;
    }
}


.browser-bar .spinner {
    .transition(opacity @animationSpeed/2);
    .transform-origin(0% 0%);

    &.animate {
        .opacity(0);
    }  
}

// Menu

aside.sidebar {
    ul li {
        transition: transform 0.25s, height 0.25s, visibility 0.5s;

        &.ui-sortable-helper {
            transition: none;
        }

        button.main img {
                transition: opacity 0.5s;
        }
        button.slide-out {
            transition: transform 0.25s ease-in-out;
        }

        ul.sub-menu {
            li {
                transition: background 0.05s ease-in-out, height 0.25s ease-out, opacity 0.25s ease-out;

            }
            .badge {
                // ANIMATION
                transition: max-width @animationSpeed;
            }

        } 
    }

    &.full-tabs {
        nav > ul > li:not(.selected) {
            transform: translate3d(-100%,0,0);
        }
        nav > ul > li.selected button.slide-out {
                transition-delay: 0.5s;
        }
    }
}