

body, html {
    height: 100%;
    overflow: hidden;
    .background-image(linear-gradient(to bottom, @colorOSBackgroundFocus 0%, lighten(@colorOSBackgroundFocus, 50%) 100%));

    &.blur {
        .background-image(linear-gradient(to bottom, @colorOSBackgroundBlur 0%,lighten(@colorOSBackgroundBlur, 5%) 100%));
        // aside {
        //     // background-color: @colorOSBackgroundBlur;
        //     .background-image(linear-gradient(to bottom, @colorOSBackgroundBlur 0%,lighten(@colorOSBackgroundBlur, 5%) 100%));
        // }
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

aside {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: @widthSideBar;
    height: 100%;
    // background: @colorOSBackgroundFocus;

    // .box-shadow(0 0 15px rgba(0,0,0,0.5));
    // background-color: @colorOSBackgroundActive;
    // .background-image(linear-gradient(to bottom, @colorOSBackgroundFocus 0%, lighten(@colorOSBackgroundFocus, 50%) 100%));
    &:before {
        content: " ";
        display: block;
        position: absolute; 
        z-index: 2;
        top: 0;
        left: 0.95 * @widthSideBar;
        width: 10px;
        bottom: 0;
        .background-image(linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%));
    }
}

main {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: ~"calc(100% - @{widthSideBar})";
    height:100%;
    overflow: hidden;
    background-color: @colorOSBackgroundFocus;
    border-radius: 2px;
}

webview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.tab-view {
    &.hidden {
        visibility: hidden;
        // display: none;
    }
}
.browse-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner {
    z-index: 10;
    position: absolute;
    top: 32px;
    right: 60px;

    // ANIMATION
    .transition(opacity @animationSpeed/2);
    .transform-origin(0% 0%);

    &.animate {
        .opacity(0);
    }
}


.browser-bar {
    z-index: 3;
    position: absolute;
    top: 40;
    right: 20px;
    left: @widthSideBar + 20px;

    input {
        width: 100%;
    }

    button.add-tab {
        position: absolute;
        top: 24px;
        right: 10px;
    }
}