.list-txs {
  text-align: left;
  margin: 50px 0;
}

.list-txs .header {
  margin-left: 10px;
}

.list-txs h1 {
  font-size: 20px;
  color: #333;
  font-weight: normal;
  margin: 0;
}

.list-txs h2 {
  margin: 10px 0 20px 0;
  background-color: #999;
  padding: 5px;
  text-transform: lowercase;
  font-size: 70%;
}

.tx-list {
  background: white;
  padding: 10px;
}

.tx-list .tx {
  background: #f9f9f9;
  border-bottom: 10px solid white;
  padding: 10px;
  .dapp-identicon {
    vertical-align: middle;
    margin: 0 5px;
  }
  > div {
    margin-bottom: 10px;
  }
}
