
aside.sidebar {
    overflow: hidden;

    ul {
        z-index: 10;
        position: relative;
        .dapp-vertical-menu;
        top: 0;
        padding-left: @gridWidth/4;

        li {
            position: relative;
            display: block;
            padding-left: @gridWidth/4;
            margin-top: 0;
            overflow: hidden;
            height: @gridHeight * 2;

            &.ui-sortable-helper {
                height: @gridHeight*2 !important;
                opacity: 0.5;
            }
            &.ui-sortable-placeholder {
                visibility: visible !important;
                height: 0 !important; //@gridHeight*3
                border-bottom: 2px solid @colorLinkActive;
                margin: 5px 0;
            }

            &.selected,
            &.slided-out {
                height: 100%;


                ul.sub-menu li {
                    height: floor(@gridHeight * 2);
                    opacity: 1;
                }
            }

            &.selected {
                color: @colorLinkActive;
                background: #FFF;
                border-radius: 3px 0 0 3px;
                box-shadow: @shadowStandard;
                border-top: 0;

                .slide-out, .slide-out.arrow-down {
                    transform: rotate(90deg) translate3d(-1px, -10px, 0);
                }

                ul.sub-menu .see-all {
                    display: block;
                }

                button.selected {
                    font-weight: 600;                    
                }
            }


            &.selected + li,
            &:first-child {
                border-top: 0;
                margin-top: 1px;
            }


            &.browser {
                .sub-menu {
                    li:first-child button {
                        color: @colorLinkFocus;
                    }
                }
            }

            button.main {
                position: relative;
                padding: 0;
                width: 85%;
                height: @gridHeight*2;
                color: @colorLinkBlur;
                text-align: left;
                text-transform: uppercase;
                font-family: @sourceSansPro;
                font-size: @fontSizeNormal;
                font-weight: 500;


                &:focus {
                    border: 0;
                    color: @colorLinkFocus;
                }

                img, .icon-globe {
                    position: absolute;
                    top: 12px;
                    left: 2px;
                    height: @gridHeight;
                    width: @gridHeight;
                    border-radius: 10px;
                }

                .icon-globe {
                    top: 13px;
                }
                
                span, .badge {
                    .dapp-shorten-text;
                    display: block;
                    position: absolute;
                    width: 86%;
                    top: @gridHeight/2 + 2px;
                    left: 15px + @defaultPaddingVertical;
                    display: inline-block;
                }

                &.has-badge span {
                    position: relative;
                    top: -4px;
                }

                > .badge {
                    top: @gridHeight;
                    font-size: @fontSizeSmall;
                    font-weight: 200;
                    text-transform: none;
                }
            }

            // Remove tab button
            button.main {
                img, .icon-globe {
                    transition: 0.25s ease-in-out transform;
                    transform: rotateY(0deg) translate3d(0, 0, 0);                    
                    backface-visibility: hidden;
                    color: @colorGray;
                }
            }

            &:not(.browser):not(.wallet) header:hover {
                button.main img, button.main .icon-globe {
                    transform: rotateY(-180deg) translate3d(0, 0, 0);    
                }

                button.remove-tab {
                    transform: rotateY(0deg) translate3d(0px, 0px, 0);  
                    &:hover {
                        background: @colorLink;
                        color: @colorWhite;  
                    }                  
                }
            }
            
            button.remove-tab {
                box-sizing: border-box;
                position: absolute;
                padding: 6px 8px 0px 2px;
                transition: 0.25s ease-in-out transform;
                left: 8px;
                top: 11px;
                color: @colorLink;
                height: @gridHeight - 1px;
                width: @gridHeight;
                border-radius: 50%;
                padding: 0;
                z-index: 2;
                backface-visibility: hidden;
                transform: rotateY(180deg) translate3d(0px, 0px, 0);                         
                &:focus {
                    border: none;
                }
            }

            button.slide-out {
                position: absolute;
                right: @gridHeight/2;
                top: @gridHeight/1.75;
                width: 30px;
                height: 20px;
                background: url('icons/expand-icon.png') no-repeat center;
                background-size: 15px 10px;
                border: none;
                transform: translate3d(10px, -1px, 0);

                &.arrow-down {
                    transform: rotate(180deg) translate3d(-10px, 1px, 0);
                }
            }
    
            // SUB MENU
            ul.sub-menu {
                padding-left: @gridWidth/2; 
                border-top: 0;
                max-height: @gridHeight*12;

                li {
                    height: 0;
                    opacity: 0;
                    line-height: floor(@gridHeight * 2) - 1px; // -1px fixes an issue, where fonts shift up by 1px

                    border-top: 1px solid rgba(0, 0, 0, 0.04);


                    button:not(.slide-out) {
                        font-size: @fontSizeSmall;
                        font-weight: 400;
                        text-transform: none;
                    }
                }

                li:nth-child(6), li:nth-child(7) { 
                    visibility: hidden;
                }

                button {
                    .dapp-shorten-text;
                    padding: floor(@gridHeight / 2) 0;
                    width: @gridWidth*3.6;
                    color: @colorLinkActive;
                    text-align: left;
                    border: 0;

                    &:focus {
                        border: 0;
                        color: @colorLinkFocus;
                    }
                    

                    &.selected {
                        color: @colorLinkBlur;
                    }

                    
                }

                .badge {
                    .dapp-shorten-text;
                    position: absolute;
                    max-width: @gridWidth*1.5;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 0 @gridWidth/6;
                    background-color: rgba(0, 0, 0, 0.05);
                    text-align: center;
                    line-height: floor(@gridHeight * 2);
                    font-size: @fontSizeSmall;

                    &:hover {
                        max-width: @gridWidth*4;
                    }
                }

                .see-all {
                    position: absolute;
                    margin-top: -4px;
                    top: @gridHeight * 10;
                    width: 100%;
                    
                    button {
                        font-style: italic;
                    }
                }
            } 
        }

    }

    &.full-tabs {
        nav > ul > li:not(.selected) {
            visibility: hidden;
            height: 0;
            transform: translate3d(-100%,0,0);
        }
        nav > ul > li.selected {
            img {
                opacity: 0;
            }
            button.slide-out {
                transform: rotate(-90deg);
                left: 1px;
                right: auto;
            }
            
            ul {
                max-height: none;
            }

            li:nth-child(6), li:nth-child(7) { 
                visibility: visible;
            }

            .see-all {
                display: none;
            }
        }

        & + .browser-bar + main .webview {
            border-top-left-radius: 0;
        }
    }

    .node-info {
        display: flex;
        top: initial;
        bottom: @gridHeight;
        left: @gridWidth/2;
        flex-flow: row wrap;
        
        div, span {
            padding: @gridHeight/2 1px;
            flex: 1;
            text-align: center;
        }

        progress {
            flex: 1 100%;
        }

        .mining-indicator  {
            flex: 3;
        }

        .block-number {
            flex: 2;
        }

        .test-chain {
            flex: 1 100%;
            padding: 1px 5px 2px;
            margin: @gridHeight/2 @gridWidth/4;
        }
    }
}

// Remove tab button related code
aside.full-tabs button.remove-tab {
    display: none;
}

