@colorTestnet: #00aafa;

#react__node-info {
  position: relative;
  cursor: default;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  font-size: 0.9em;
  color: #827a7a;
  justify-content: center;
}

#node-info {
  padding: 22px;
}

#node-info__light {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  // animation: breathing ease-in-out infinite alternate;
  // animation-duration: 5s;
  transition: background-color ease-in-out 5s;
}

.node-info__subtitle {
  text-transform: uppercase;
  font-size: 10px;
  color: #aaa;
}

.node-info__section {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
}

.node-info__network-title {
  font-weight: 300;
  font-size: 24px;
  // color: #24C33A;
  text-transform: capitalize;
}

.node-info__node-title {
  font-weight: 300;
  padding-bottom: 5px;
}

.node-info__pill {
  display: inline-block;
  margin-left: 5px;
  font-weight: 300;
  font-size: 11px;
  background-color: black;
  border-radius: 8px;
  padding: 2px 5px;
}

.node-info__submenu-container {
  width: 185px;
  position: fixed;
  left: 90px;
  bottom: 0px;
  border-radius: 5px;
  z-index: 1000;
  cursor: default;

  transition: 150ms linear all, 1ms linear top;
  transition-delay: 200ms;
  transform: translateY(-11px);

  &::before {
    @tipSize: 8px;
    content: '';
    margin-left: -@tipSize;
    bottom: 0;
    margin-bottom: 12px;
    display: block;
    position: absolute;
    width: 0px;
    height: @tipSize * 2.25;
    border: 0px solid transparent;
    border-width: @tipSize;
    border-left: 0;
    border-right-color: rgba(0, 0, 0, 0.78);
  }

  #local-stats,
  #remote-stats {
  }

  section {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    width: 100%;
    border-radius: 5px;
    color: #fff;
    position: relative;

    span {
      font-weight: 400;
    }
  }
}

.row-icon {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 4px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 500;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.node-mainnet .node-info__node-title.local {
  color: #7ed321;
}

.node-testnet .node-info__node-title.local {
  color: @colorTestnet;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
  background: rgba(0, 0, 0, 0.1);
}

.node-mainnet progress[value]::-webkit-progress-value {
  background-image: linear-gradient(left, transparent, #7ed321);
  background: #7ed321;
  background-size: cover;
}

.node-testnet progress[value]::-webkit-progress-value {
  background-image: linear-gradient(left, transparent, @colorTestnet);
  background-size: cover;
}

//// animation-name
@keyframes breathing {
  0% {
    transform: scale(0.6);
    filter: brightness(100%);
    // opacity: 0.5;
  }

  100% {
    transform: scale(1);
    filter: brightness(120%);
    // opacity: 0.9;
  }
}
