.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.execution-context {
  background-color: white;
  padding: 50px 34px 12px;
}

.execution-context__sentence {
  font-size: 24px;
  text-align: left;
}

.execution-context__subtext {
  font-size: 18px;
  margin: 12px 0;
}

.execution-context__details-link {
  font-size: 18px;
  color: #4e92df;
  cursor: pointer;
  text-align: left;
}

.send-tx__btns {
  display: flex;
  align-items: stretch;
  font-weight: bold;
}

.send-tx__btn--secondary {
  width: 100%;
  border: 1px solid #4e92df;
  padding: 8px 0;
  margin: 12px 6px 12px 12px;
  border-radius: 6px;
  text-transform: uppercase;
}

.send-tx__btn--primary {
  width: 100%;
  border: 1px solid #4e92df;
  background-color: #4e92df;
  color: white !important;
  padding: 8px 0;
  margin: 12px 12px 12px 6px;
  border-radius: 6px;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }
}

.tx-parties {
  text-align: left;
  margin: 12px 34px;
  display: flex;
  flex-direction: column;
}

.tx-parties__party {
  position: relative;
  display: flex;
  align-items: center;
  margin: 8px 0;

  // TODO
  .overlap-icon {
    font-size: 14px !important;
    width: 32px !important;
    top: 17px !important;
    z-index: 9 !important;
  }
}

.tx-parties__direction-name {
  display: inline-block;
  margin: 0 8px 0 22px;
}

.fee-selector {
  text-align: left;
  margin: 12px 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.fee-selector__btn {
  color: #4e92df;
  cursor: pointer;
}

// TODO
.popup-windows footer {
  padding-top: 0px;
  bottom: 28px;
}
